@charset "UTF-8";

@media screen and (min-width: 1024px) {
    section#principal {
        width: 46vw;
        height: 360px;
        
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }

    div#foto {
        float: left;
        width: 50%;
        height: 100%;
        display: inline;
        background: url('../images/image-product-desktop.jpg') no-repeat center;
        background-size: cover;
    }

    div#descricao {
        float: right;
        width:42%;
        height: 100%;
        display: inline;
    }

    p.perfume {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h1 {
        margin-bottom: 15px;
    }
}